---
import "@fontsource-variable/onest";

import AboutCard from "../components/AboutCard.astro";
import BriefcaseIcon from "../icons/Briefcase.astro";
import CodeIcon from "../icons/Code.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Certifications from "../components/Certifications.astro";
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Carlos Villalobos</title>
    <ViewTransitions />
  </head>

  <body
    class="flex-col justify-center items-center flex pb-5 relative text-black dark:text-white"
    style="font-family: Onest Variable;"
  >
    <Header />
    <div
      class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-50 dark:bg-gray-950
      bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))]
      dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <SectionContainer class="py-16 md:py-36 flex justify-center items-center">
      <AboutCard />
    </SectionContainer>
    <div class="space-y-24 w-full">
      <SectionContainer id="experiencia">
        <h2
          class="pl-4 sm:pl-0 flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <BriefcaseIcon class="size-8" />
          Experiencia laboral
        </h2>
        <Experience />
      </SectionContainer>
      <SectionContainer id="proyectos">
        <h2
          class="pl-4 sm:pl-0 flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <CodeIcon class="size-8" />
          Proyectos
        </h2>
        <Projects />
      </SectionContainer>
      <SectionContainer id="certificaciones">
        <h2
          class="pl-4 sm:pl-0 flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <BriefcaseIcon class="size-8" />
          Certificaciones
        </h2>
        <Certifications />
      </SectionContainer>
    </div>
    <style is:global>
      :root {
        color-scheme: light dark;
      }

      html {
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
