---
import CertificationItem from "./CertificationItem.astro";
import Udemy from "../icons/Udemy.astro";
import React from "../icons/React.astro";
import OpenAI from "../icons/OpenAI.astro";
import NestJS from "../icons/NestJS.astro";
import Docker from "../icons/Docker.astro";
import Github from "../icons/Github.astro";
import Flutter from "../icons/Flutter.astro";
import Storybook from "../icons/Storybook.astro";
import MongoDB from "../icons/MongoDB.astro";
import Node from "../icons/Node.astro";
import Redux from "../icons/Redux.astro";
import Express from "../icons/Express.astro";
import Jest from "../icons/Jest.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const TAGS = {
  UDEMY: {
    name: "Udemy",
    class: "bg-black text-white",
    icon: Udemy,
  },
  REACT: {
    name: "React",
    class: "bg-black text-white",
    icon: React,
  },
  OPENAI: {
    name: "OpenAI",
    class: "bg-black text-white",
    icon: OpenAI,
  },
  NEST: {
    name: "NestJS",
    class: "bg-black text-white",
    icon: NestJS,
  },
  DOCKER: {
    name: "Docker",
    class: "bg-black text-white",
    icon: Docker,
  },
  GITHUB: {
    name: "Github",
    class: "bg-black text-white",
    icon: Github,
  },
  FLUTTER: {
    name: "Flutter",
    class: "bg-black text-white",
    icon: Flutter,
  },
  STORYBOOK: {
    name: "Storybook",
    class: "bg-black text-white",
    icon: Storybook,
  },
  MONGODB: {
    name: "MongoDB",
    class: "bg-black text-white",
    icon: MongoDB,
  },
  NODE: {
    name: "Node",
    class: "bg-black text-white",
    icon: Node,
  },
  REDUX: {
    name: "Redux",
    class: "bg-black text-white",
    icon: Redux,
  },
  EXPRESS: {
    name: "Express",
    class: "bg-black text-white",
    icon: Express,
  },
  JEST: {
    name: "Jest",
    class: "bg-black text-white",
    icon: Jest,
  },
};
const CERTIFICATIONS = [
  {
    title: t("certifications.openai.title"),
    website: TAGS.UDEMY,
    description: t("certifications.openai.description"),
    credential: "https://cursos.devtalles.com/certificates/kwce0bxy35",
    tags: [TAGS.REACT, TAGS.OPENAI, TAGS.NEST],
  },
  {
    title: t("certifications.docker.title"),
    website: TAGS.UDEMY,
    description: t("certifications.docker.description"),
    credential:
      "https://www.udemy.com/certificate/UC-b5731608-9037-4324-9a5a-b11927af1e0b/",
    tags: [TAGS.DOCKER, TAGS.GITHUB],
  },
  {
    title: t("certifications.flutter.title"),
    website: TAGS.UDEMY,
    description: t("certifications.flutter.description"),
    credential:
      "https://www.udemy.com/certificate/UC-47585ce9-a70d-4f99-add4-ddde1595c217/",
    tags: [TAGS.FLUTTER],
  },
  {
    title: t("certifications.reactPro.title"),
    website: TAGS.UDEMY,
    description: t("certifications.reactPro.description"),
    credential:
      "https://www.udemy.com/certificate/UC-0c46a427-ab48-453b-a07d-0906bc65021d/",
    tags: [TAGS.REACT, TAGS.STORYBOOK],
  },
  {
    title: t("certifications.reactSocket.title"),
    website: TAGS.UDEMY,
    description: t("certifications.reactSocket.description"),
    credential:
      "https://www.udemy.com/certificate/UC-7a1b797b-d12c-4efa-9cf1-45624ea5d397/",
    tags: [TAGS.REACT, TAGS.MONGODB],
  },
  {
    title: t("certifications.reactZero.title"),
    website: TAGS.UDEMY,
    description: t("certifications.reactZero.description"),
    credential:
      "https://www.udemy.com/certificate/UC-7b2da51a-57be-4778-84b9-3dd812532479/?utm_campaign=email&utm_source=sendgrid.com&utm_medium=email",
    tags: [
      TAGS.REACT,
      TAGS.REDUX,
      TAGS.NODE,
      TAGS.EXPRESS,
      TAGS.MONGODB,
      TAGS.JEST,
    ],
  },
];
---

<ol class="relative mt-16">
  {
    CERTIFICATIONS.map((cert) => (
      <li class="border-b dark:border-white border-[#7e3636] border-opacity-30 py-4">
        <CertificationItem {...cert} />
      </li>
    ))
  }
</ol>
