---
import SendEmail from "../icons/SendEmail.astro";
---

<div class="relative mt-16 border-b border-[#7e3636] dark:border-white border-opacity-30">
  <form
    id="emailForm"
    class="mx-6 pb-4 flex flex-col gap-y-5 items-start"
    autocomplete="off"
    method="post"
  >
    <input
      id="email"
      name="email"
      type="email"
      placeholder="Email"
      class="bg-white text-lg p-2 text-black rounded w-5/6 outline-none sm:w-3/4 lg:w-1/3 border-black border dark:border-none"
      autocomplete="off"
    />

    <input
      type="text"
      id="asunto"
      placeholder="Asunto"
      class="bg-white text-lg p-2 text-black rounded w-5/6 outline-none sm:w-3/4 lg:w-1/3 border-black border dark:border-none"
      autocomplete="off"
    />
    <textarea
      placeholder="Mensaje"
      id="mensaje"
      class="bg-white text-lg p-2 text-black rounded h-44 w-full outline-none lg:w-1/2 border-black border dark:border-none resize-none"
    ></textarea>
    <button
      type="submit"
      class="text-black text-lg bg-white px-3 py-1 rounded-full flex items-center gap-x-2 border-black border dark:border-none"
      ><SendEmail />{" "}Enviar
    </button>
  </form>
</div>

<script>
  document
    .getElementById("emailForm")
    .addEventListener("submit", async function (event) {
      event.preventDefault(); // Evita que el formulario se envíe de forma tradicional

      var email = document.getElementById("email") as HTMLInputElement;
      var asunto = document.getElementById("asunto") as HTMLInputElement;
      var mensaje = document.getElementById("mensaje") as HTMLInputElement;

      await fetch("/api/sendEmail.json", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          from: email.value,
          subject: asunto.value,
          html: `<p>${mensaje.value}</p>`,
        }),
      });

      email.value = "";
      asunto.value = "";
      mensaje.value = "";
    });
</script>
