---
import ExperienceItem from "./ExperienceItem.astro";
import React from "../icons/React.astro";
import Node from "../icons/Node.astro";
import Express from "../icons/Express.astro";
import Java from "../icons/Java.astro";
import Spring from "../icons/Spring.astro";
import PostgreSQL from "../icons/PostgreSQL.astro";
import MySQL from "../icons/MySQL.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const TAGS = {
  REACT: {
    name: "React",
    class: "bg-black text-white",
    icon: React,
  },
  NODE: {
    name: "Node",
    class: "bg-black text-white",
    icon: Node,
  },
  EXPRESS: {
    name: "Express",
    class: "bg-black text-white",
    icon: Express,
  },
  JAVA: {
    name: "Java",
    class: "bg-gray-100 text-black",
    icon: Java,
  },
  SPRING: {
    name: "Spring",
    class: "bg-black text-white",
    icon: Spring,
  },
  POSTGRESQL: {
    name: "PostgreSQL",
    class: "bg-black text-white",
    icon: PostgreSQL,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-white text-black",
    icon: MySQL,
  },
};
const EXPERIENCIE = [
  {
    date: "11/2022 - 02/2024",
    title: t("experiencie.fullstack"),
    company: "Fresh Consulting",
    description:
      t('experiencie.fresh.description'),
    tags: [TAGS.REACT, TAGS.NODE, TAGS.EXPRESS, TAGS.POSTGRESQL],
  },
  {
    date: "02/2022 - 10/2022",
    title: t("experiencie.fullstack"),
    company: "First Factory",
    description:
      t('experience.ff.description'),
    tags: [TAGS.REACT, TAGS.JAVA, TAGS.SPRING, TAGS.POSTGRESQL],
  },
  {
    date: "07/2021 - 02/2022",
    title: t("experiencie.fullstack"),
    company: "SOIN",
    description:
      t('experiencie.soin.description'),
    tags: [TAGS.REACT, TAGS.NODE, TAGS.EXPRESS, TAGS.MYSQL],
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
