---
import AboutCard from "../../components/AboutCard.astro";
import BriefcaseIcon from "../../icons/Briefcase.astro";
import CodeIcon from "../../icons/Code.astro";
import Mail from "../../icons/Mail.astro";
import SectionContainer from "../../components/SectionContainer.astro";
import Experience from "../../components/Experience.astro";
import Projects from "../../components/Projects.astro";
import Certifications from "../../components/Certifications.astro";
import Contact from "../../components/Contact.astro";
import Layout from "../../layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Carlos Villalobos" description="Mi portafolio">
  <main>
    <SectionContainer
      id="home"
      class="py-16 md:py-36 flex justify-center items-center"
    >
      <AboutCard />
    </SectionContainer>

    <div class="space-y-28 w-full">
      <SectionContainer id="experiencie">
        <h2
          class="pl-4 sm:pl-0 flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <BriefcaseIcon class="size-8" />
          {t("experiencie.container.title")}
        </h2>
        <Experience />
      </SectionContainer>
      <SectionContainer id="projects">
        <h2
          class="pl-4 sm:pl-0 flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <CodeIcon class="size-8" />
          {t("projects.container.title")}
        </h2>
        <Projects />
      </SectionContainer>
      <SectionContainer id="certifications">
        <h2
          class="pl-4 sm:pl-0 flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <BriefcaseIcon class="size-8" />
          {t("certifications.container.title")}
        </h2>
        <Certifications />
      </SectionContainer>
      <SectionContainer id="contact">
        <h2
          class="pl-4 sm:pl-0 flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <Mail class="size-8" />
          {t("contact.container.title")}
        </h2>
        <Contact />
      </SectionContainer>
    </div>
  </main>
</Layout>
